.App {
  background-color: #e8e9ed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* yatay */
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 200;
}

.header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  background-color: #656f84;
  align-items: center; /* dikey */
  justify-content: space-between;
  
}
.headerLogo {
  font-weight: 200;
  margin-left: 1rem;
}

ul{
  color: black;
}